@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=PT+Sans:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  /* body {
    @apply font-montserrat;
  } */
}

@layer components {
  .scrollbar-gray::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-gray::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-gray::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #d9d9d988;
  }
}
